.menuCabecera{
    background-color: #aadae6 ;
    width: 100%;
}
*{

    margin: 0%;
    padding: 0%;
}
.banner{
    
    background-image: url("../IMAGENES/cerebro.jpg");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
}
.cajacolumnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.columnas{
    flex: 1;
    background-color: aqua;
    border: 1px;
    text-align: center;
}
.colorverde{
    background-color:  green;
    width: 100%;
    height: 120px;

}
.colornaranja{
    background-color: rgb(216, 121, 121);
    width: 100%;
    height: 120px;
}
.coloramarillo
{background-color:yellow;
    width: 100%;
    height: 120px;
}
.final{
    background-color: aqua;
    width: 100%;
    height:120px;
}
.menusuperior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black; 
}
.menusuperior 
{text-transform: uppercase;
font-weight: bold;
text-align: right;
padding: 20px;}
.li a:hover 
{color: #e2430c;
background-color: #02506e;
text-decoration: underline;
}
li a{
    text-decoration: none;
}
.menusuperior li:last-child
{border-right: none;}
.cajacolumnas img
{
    width: 100%;
    height: 300px;
}
.formulario
{
    width:80%;
    margin: auto ;
}
form
{
    padding: 15px;
}
input
{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea
{
    width: 100;
height: 120px;
}